

html, body{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}


@font-face {
    font-family: '信笺手写体';
    src:  url('../assets/font/信笺手写体.woff') format('truetype');
}
/*
 * url('../assets/font/信笺手写体.eot') format('embedded-opentype'),
 */
@threshold: 768px; //切换阈值
@bbr: 6px;
@br: 4px;
@image: '/assets/image';

@poem: "信笺手写体", "楷体", "微软雅黑";

