

html, body{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}


@font-face {
    font-family: '信笺手写体';
    src: url('../assets/font/信笺手写体.eot'); /* IE9 Compat Modes */
    src: url('../assets/font/信笺手写体.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../assets/font/信笺手写体.woff') format('woff'), /* Modern Browsers */
         url('../assets/font/信笺手写体.ttf')  format('truetype'); /* Safari, Android, iOS */
}
/*
 * url('../assets/font/信笺手写体.eot') format('embedded-opentype'),
 */
@threshold: 768px; //切换阈值
@bbr: 6px;
@br: 4px;
@image: '/home/assets/image';

@primary: #19be6b;
@secondary: #57a3f3;

@poem: "信笺手写体", "楷体", "微软雅黑";

